
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 24, 27);
}

nav {
    position: fixed;
    left: 0em;
    right: 0em;
    top: 0em;
    background-color: rgb(28, 28, 31);
    overflow: hidden;
    box-shadow: 0em 0em 0.65em 0em rgb(0, 0, 0);
}

div {
    padding: 1em;
}

h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    size-adjust: 200px;
    display: inline;
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#block {
    align-self: center;
    min-height: 83vh;
    padding-top: 8em;
    margin: 0em 15% 0em 15%;
    box-shadow: 0em 0em 0.65em 0em rgba(0, 0, 0, 0.39);
    border: solid 0.25em rgb(15, 15, 19);
    background-color: rgb(34, 37, 41);
    overflow: hidden;
}

#homephoto {
    border-radius: 10px;
    float: left;
    margin: 0em 1em 1em 0em;
    height: 12em;
}

#mainnav {
    padding-top: 0px;
    text-align: center;
}

a {
    padding: 0px 2em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

a:hover {
    transition: 0.3s ease 0s;
    color: rgb(255, 95, 95);
}