
body {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 24, 27);
}

a {
    padding: 0px 2em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    transition: 0.3s ease 0s;
    color: rgb(102, 191, 243);
}

#foot {
    text-align: center;
    position: fixed;
    left: 0em;
    right: 0em;
    bottom: 0em;
    padding: 10px;
    margin: 0px;
    background-color: rgb(28, 28, 31);
    overflow: hidden;
    box-shadow: 0em 0em 0.65em 0em rgb(0, 0, 0);
}

div {
    padding: 1em;
}

h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#block {
    margin: 10em 15% 10em 15%;
    min-height: 20em;
    overflow: hidden;
}

.lefttitle {
    padding: 15px;
    margin: 2em 0em 0em 0em;
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: left;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
}

.righttitle {
    padding: 15px;
    margin: 2em 0em 0em 0em;
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: right;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
}

.homebox {
    padding: 15px;
    font-size: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#homephoto {
    border-radius: 500px;
    float: right;
    margin: 2.5em 0em 0em 3em;
    height: 30em;
}

#mainnav {
    text-align: center;
    position: fixed;
    left: 0em;
    right: 0em;
    top: 0em;
    padding: 10px;
    margin: 0px;
    background-color: rgb(28, 28, 31);
    overflow: hidden;
    box-shadow: 0em 0em 0.65em 0em rgb(0, 0, 0);
}

#aphotoa, #aphotoc {
    border-radius: 25px;
    float: left;
    margin: 2.5em 0em 0em 3em;
    height: 30em;
}

#aphotob {
    border-radius: 25px;
    float: right;
    margin: 2.5em 0em 0em 3em;
    height: 30em;
}

.bbox {
    padding: 25px;
    font-size: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.abox {
    padding: 25px;
    font-size: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}